Package: me.justnaaa
Name: PingTweak
Version: 0.0.1
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Description: A simple tweak to edit your notifications!
Maintainer: Juliette
Author: Juliette
Section: Tweaks
